# Python-specific ignores
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual environment
venv/

# IDE-specific files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# Environment variables
.env

# Byte-compiled files
*.pyc

# Testing and coverage
.coverage
htmlcov/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# System files
Thumbs.db